#clockContainer {
    display: flex;
    flex-direction: row;
}

.digitSeparator {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    font-size: 5rem;
    align-items: center;
    display: flex;
    color: red;
}

.clock {
    border: solid 1rem rgb(86, 0, 0);
    border-radius: 10px;

    height: 10rem;
    width: 9rem;
}

.clock-bottom {
    border-top: 0;
}

.clock-top.number0 {
    border-bottom: 0;
}

.clock-top.number1 {
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
}

.clock-bottom.number1 {
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
}

.clock-top.number2 {
    border-right: 0;
}

.clock-bottom.number2 {
    border-left: 0;
}

.clock-top.number3 {
    border-left: 0;
}

.clock-bottom.number3 {
    border-left: 0;
}

.clock-top.number4 {
    border-top: 0;
}

.clock-bottom.number4 {
    border-left: 0;
    border-bottom: 0;
}

.clock-top.number5 {
    border-right: 0;
}

.clock-bottom.number5 {
    border-left: 0;
}

.clock-top.number6 {
    border-right: 0;
}

.clock-top.number7,
.clock-bottom.number7 {
    border-left: 0;
    border-bottom: 0;
}

.clock-bottom.number8 {
    border-left: 0;
    border-bottom: 0;
}
